In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import nltk
import re

In [30]:
df1=pd.read_csv('SMS_train.csv',encoding='ISO-8859-1')
df1

     S. No.                                       Message_body     Label
0         1                         Rofl. Its true to its name  Non-Spam
1         2  The guy did some bitching but I acted like i'd...  Non-Spam
2         3  Pity, * was in mood for that. So...any other s...  Non-Spam
3         4               Will ü b going to esplanade fr home?  Non-Spam
4         5  This is the 2nd time we have tried 2 contact u...      Spam
..      ...                                                ...       ...
952     953  hows my favourite person today? r u workin har...  Non-Spam
953     954                      How much you got for cleaning  Non-Spam
954     955  Sorry da. I gone mad so many pending works wha...  Non-Spam
955     956                                 Wat time ü finish?  Non-Spam
956     957                    Just glad to be talking to you.  Non-Spam

[957 rows x 3 columns]

In [31]:
df2=pd.read_csv('SMS_test.csv',encoding='ISO-8859-1')
df2

     S. No.                                       Message_body     Label
0         1  UpgrdCentre Orange customer, you may now claim...      Spam
1         2  Loan for any purpose £500 - £75,000. Homeowner...      Spam
2         3  Congrats! Nokia 3650 video camera phone is you...      Spam
3         4  URGENT! Your Mobile number has been awarded wi...      Spam
4         5  Someone has contacted our dating service and e...      Spam
..      ...                                                ...       ...
120     121  7 wonders in My WORLD 7th You 6th Ur style 5th...  Non-Spam
121     122  Try to do something dear. You read something f...  Non-Spam
122     123  Sun ah... Thk mayb can if dun have anythin on....  Non-Spam
123     124  SYMPTOMS when U are in love: "1.U like listeni...  Non-Spam
124     125  Great. Have a safe trip. Dont panic surrender ...  Non-Spam

[125 rows x 3 columns]

In [32]:
df=pd.concat([df1,df2]) #Since we cannot do nlp in two files we concatnate them
df

     S. No.                                       Message_body     Label
0         1                         Rofl. Its true to its name  Non-Spam
1         2  The guy did some bitching but I acted like i'd...  Non-Spam
2         3  Pity, * was in mood for that. So...any other s...  Non-Spam
3         4               Will ü b going to esplanade fr home?  Non-Spam
4         5  This is the 2nd time we have tried 2 contact u...      Spam
..      ...                                                ...       ...
120     121  7 wonders in My WORLD 7th You 6th Ur style 5th...  Non-Spam
121     122  Try to do something dear. You read something f...  Non-Spam
122     123  Sun ah... Thk mayb can if dun have anythin on....  Non-Spam
123     124  SYMPTOMS when U are in love: "1.U like listeni...  Non-Spam
124     125  Great. Have a safe trip. Dont panic surrender ...  Non-Spam

[1082 rows x 3 columns]

In [33]:
df.head()

   S. No.                                       Message_body     Label
0       1                         Rofl. Its true to its name  Non-Spam
1       2  The guy did some bitching but I acted like i'd...  Non-Spam
2       3  Pity, * was in mood for that. So...any other s...  Non-Spam
3       4               Will ü b going to esplanade fr home?  Non-Spam
4       5  This is the 2nd time we have tried 2 contact u...      Spam

In [34]:
df.tail()

     S. No.                                       Message_body     Label
120     121  7 wonders in My WORLD 7th You 6th Ur style 5th...  Non-Spam
121     122  Try to do something dear. You read something f...  Non-Spam
122     123  Sun ah... Thk mayb can if dun have anythin on....  Non-Spam
123     124  SYMPTOMS when U are in love: "1.U like listeni...  Non-Spam
124     125  Great. Have a safe trip. Dont panic surrender ...  Non-Spam

In [35]:
df.columns

Index(['S. No.', 'Message_body', 'Label'], dtype='object')

In [36]:
df.shape

(1082, 3)

In [37]:
df.dtypes

S. No.           int64
Message_body    object
Label           object
dtype: object

In [38]:
df.isna().sum()

S. No.          0
Message_body    0
Label           0
dtype: int64

In [39]:
df['Label'].value_counts()

Label
Non-Spam    884
Spam        198
Name: count, dtype: int64

In [40]:
df.drop(['S. No.'],axis=1,inplace=True)
df

                                          Message_body     Label
0                           Rofl. Its true to its name  Non-Spam
1    The guy did some bitching but I acted like i'd...  Non-Spam
2    Pity, * was in mood for that. So...any other s...  Non-Spam
3                 Will ü b going to esplanade fr home?  Non-Spam
4    This is the 2nd time we have tried 2 contact u...      Spam
..                                                 ...       ...
120  7 wonders in My WORLD 7th You 6th Ur style 5th...  Non-Spam
121  Try to do something dear. You read something f...  Non-Spam
122  Sun ah... Thk mayb can if dun have anythin on....  Non-Spam
123  SYMPTOMS when U are in love: "1.U like listeni...  Non-Spam
124  Great. Have a safe trip. Dont panic surrender ...  Non-Spam

[1082 rows x 2 columns]

In [41]:
df['Label']=df['Label'].map({'Spam':1,'Non-Spam':0})
df

                                          Message_body  Label
0                           Rofl. Its true to its name      0
1    The guy did some bitching but I acted like i'd...      0
2    Pity, * was in mood for that. So...any other s...      0
3                 Will ü b going to esplanade fr home?      0
4    This is the 2nd time we have tried 2 contact u...      1
..                                                 ...    ...
120  7 wonders in My WORLD 7th You 6th Ur style 5th...      0
121  Try to do something dear. You read something f...      0
122  Sun ah... Thk mayb can if dun have anythin on....      0
123  SYMPTOMS when U are in love: "1.U like listeni...      0
124  Great. Have a safe trip. Dont panic surrender ...      0

[1082 rows x 2 columns]

In [42]:
df.dtypes

Message_body    object
Label            int64
dtype: object

In [43]:
# now we apply nlp to Message_body column
tweets=df.Message_body
tweets

0                             Rofl. Its true to its name
1      The guy did some bitching but I acted like i'd...
2      Pity, * was in mood for that. So...any other s...
3                   Will ü b going to esplanade fr home?
4      This is the 2nd time we have tried 2 contact u...
                             ...
120    7 wonders in My WORLD 7th You 6th Ur style 5th...
121    Try to do something dear. You read something f...
122    Sun ah... Thk mayb can if dun have anythin on....
123    SYMPTOMS when U are in love: "1.U like listeni...
124    Great. Have a safe trip. Dont panic surrender ...
Name: Message_body, Length: 1082, dtype: object

In [44]:
from nltk.tokenize import TweetTokenizer
tk=TweetTokenizer()
tweets=tweets.apply(lambda x:tk.tokenize(x)).apply(lambda x:" ".join(x))
tweets

0                            Rofl . Its true to its name
1      The guy did some bitching but I acted like i'd...
2      Pity , * was in mood for that . So ... any oth...
3                  Will ü b going to esplanade fr home ?
4      This is the 2nd time we have tried 2 contact u...
                             ...
120    7 wonders in My WORLD 7th You 6th Ur style 5th...
121    Try to do something dear . You read something ...
122    Sun ah ... Thk mayb can if dun have anythin on...
123    SYMPTOMS when U are in love : " 1 . U like lis...
124    Great . Have a safe trip . Dont panic surrende...
Name: Message_body, Length: 1082, dtype: object

In [45]:
# remove special characters
tweets=tweets.replace('[^a-zA-Z0-9]',' ',regex=True) #replacing not [^a-zA-Z0-9] with space,  regex-- regular expression
tweets

0                            Rofl   Its true to its name
1      The guy did some bitching but I acted like i d...
2      Pity     was in mood for that   So     any oth...
3                  Will   b going to esplanade fr home
4      This is the 2nd time we have tried 2 contact u...
                             ...
120    7 wonders in My WORLD 7th You 6th Ur style 5th...
121    Try to do something dear   You read something ...
122    Sun ah     Thk mayb can if dun have anythin on...
123    SYMPTOMS when U are in love     1   U like lis...
124    Great   Have a safe trip   Dont panic surrende...
Name: Message_body, Length: 1082, dtype: object

In [46]:
# to get a meaningful words we remove words which have lessthan 3 letters
tweets = tweets.apply(lambda x: ' '.join([i for i in tk.tokenize(x) if len(i) >= 3]))
tweets

0                                 Rofl Its true its name
1      The guy did some bitching but acted like inter...
2           Pity was mood for that any other suggestions
3                              Will going esplanade home
4      This the 2nd time have tried contact have won ...
                             ...
120    wonders WORLD 7th You 6th style 5th smile 4th ...
121      Try something dear You read something for exams
122    Sun Thk mayb can dun have anythin Thk have boo...
123    SYMPTOMS when are love like listening songs ge...
124        Great Have safe trip Dont panic surrender all
Name: Message_body, Length: 1082, dtype: object

In [47]:
# stemming --> used to get root word
from nltk.stem import SnowballStemmer
ss=SnowballStemmer('english')
tweets=tweets.apply(lambda x:[ss.stem(i.lower()) for i in tk.tokenize(x)]).apply(lambda x: ' '.join(x))
tweets

0                                   rofl it true it name
1      the guy did some bitch but act like interest b...
2               piti was mood for that ani other suggest
3                                  will go esplanad home
4      this the 2nd time have tri contact have won th...
                             ...
120    wonder world 7th you 6th style 5th smile 4th p...
121             tri someth dear you read someth for exam
122    sun thk mayb can dun have anythin thk have boo...
123    symptom when are love like listen song get sto...
124          great have safe trip dont panic surrend all
Name: Message_body, Length: 1082, dtype: object

In [48]:
# identification of stop word
from nltk.corpus import stopwords
sw=stopwords.words('english')

In [49]:
#remove stopwords from tweets
tweets=tweets.apply(lambda x:[i for i in tk.tokenize(x) if i not in sw]).apply(lambda x:' '.join(x))
tweets

0                                         rofl true name
1      guy bitch act like interest buy someth els nex...
2                                  piti mood ani suggest
3                                       go esplanad home
4      2nd time tri contact 750 pound prize claim eas...
                             ...
120    wonder world 7th 6th style 5th smile 4th perso...
121                     tri someth dear read someth exam
122    sun thk mayb dun anythin thk book lesson pilat...
123    symptom love like listen song get stop see nam...
124                   great safe trip dont panic surrend
Name: Message_body, Length: 1082, dtype: object

In [50]:
# vectorization text--->number
# we use tfidf --> term frequency inverse document frequency

from sklearn.feature_extraction.text import TfidfVectorizer
vec=TfidfVectorizer()
data=vec.fit_transform(tweets)  # now vectorized tweets are stored in data
print(data)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 8924 stored elements and shape (1082, 2854)>
  Coords	Values
  (0, 2146)	0.6743246681420616
  (0, 2603)	0.5352804139572925
  (0, 1751)	0.5086856793431558
  (1, 1236)	0.26826339572857744
  (1, 559)	0.3752334020731641
  (1, 353)	0.35437558793533497
  (1, 1533)	0.2174075457753962
  (1, 1391)	0.3187189191538061
  (1, 628)	0.2751324774651613
  (1, 2331)	0.2751324774651613
  (1, 972)	0.30392006451010634
  (1, 1779)	0.26514476216742267
  (1, 2741)	0.22799692523276513
  (1, 1167)	0.32809784984076795
  (1, 1122)	0.1977601804079742
  (2, 1930)	0.5469696796701571
  (2, 1708)	0.5469696796701571
  (2, 418)	0.36716239650585775
  (2, 2429)	0.5165656915002457
  (3, 1192)	0.4955435583228749
  (3, 998)	0.7276196298199478
  (3, 1308)	0.47434824349351806
  (4, 176)	0.26181671272503576
  (4, 2543)	0.18612502049180385
  (4, 2599)	0.20589438654271086
  :	:
  (1079, 1522)	0.24774213284441401
  (1079, 2434)	0.26153957460502464
  (1079, 1724)	0.2706898396742334
  (1079, 1852)	0.2706898396742334
  (1079, 1925)	0.2706898396742334
  (1079, 1793)	0.2706898396742334
  (1079, 430)	0.2991131590878755
  (1079, 1316)	0.2991131590878755
  (1080, 1751)	0.27931042764086844
  (1080, 1533)	0.21452593732655792
  (1080, 1182)	0.36602572795540395
  (1080, 2210)	0.21572034231434808
  (1080, 1583)	0.2249749608215637
  (1080, 2399)	0.2208005656522519
  (1080, 2335)	0.33507584451064965
  (1080, 417)	0.3237491068715447
  (1080, 1544)	0.3237491068715447
  (1080, 2462)	0.37025990523411034
  (1080, 542)	0.37025990523411034
  (1081, 1223)	0.31872563060534453
  (1081, 2600)	0.3734390895085233
  (1081, 2168)	0.4525275695553008
  (1081, 923)	0.30819278764115643
  (1081, 1876)	0.4791624063199324
  (1081, 2447)	0.4791624063199324

In [51]:
y=df['Label'].values

In [52]:
# now data ==> input
#     y ==> output

In [53]:
# now we apply machine learning classification for prediction

In [54]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data,y,test_size=0.30,random_state=42)

In [55]:
#multiple model creation 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
rand=RandomForestClassifier(n_estimators=100,random_state=42)
knn=KNeighborsClassifier(n_neighbors=7)
nai=BernoulliNB()
sup=SVC()

In [56]:
lst=[knn,nai,sup,rand]
for i in lst:
    print("Model name is ---> ",i)
    i.fit(x_train,y_train)
    y_pred=i.predict(x_test)
    print("Performance Evaluation of ",i,"****************")

    print('accuracy_score === ',accuracy_score(y_test,y_pred))
    print('-'*100)

Model name is --->  KNeighborsClassifier(n_neighbors=7)
Performance Evaluation of  KNeighborsClassifier(n_neighbors=7) ****************
accuracy_score ===  0.8338461538461538
----------------------------------------------------------------------------------------------------
Model name is --->  BernoulliNB()
Performance Evaluation of  BernoulliNB() ****************
accuracy_score ===  0.9569230769230769
----------------------------------------------------------------------------------------------------
Model name is --->  SVC()
Performance Evaluation of  SVC() ****************
accuracy_score ===  0.9230769230769231
----------------------------------------------------------------------------------------------------
Model name is --->  RandomForestClassifier(random_state=42)
Performance Evaluation of  RandomForestClassifier(random_state=42) ****************
accuracy_score ===  0.96
----------------------------------------------------------------------------------------------------